body {
    padding: 0 0 0 5em;
    font-family: 'Caveat', cursive;
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 13px, #abced4 15px, #abced4 12px, transparent 10px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.27em;
}

#app {
    min-width: 20em;
    width: 20%;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
}

.shopping-list-item:checked+label {
    text-decoration: line-through;
}